.custom-select{
    
    
}
.previous a{
    width: 100px;
    text-align: center;
}
.previous :hover{
    width: 100px;
    margin-right: 0px;
}
.next a{
    width: 100px;
    text-align: center;
}
.next :hover{
    width: 100px;
    margin-right: 0px;
}
.pagination{
    text-align: center;
    position: absolute;
}
.dataTables_info{
    margin-top: 15px;
    margin-bottom: 20px;
}
.dataTables_filter{
    margin-top: -35px;
}
.add-datatable{
    
}
.datatable-print{
    
}
.custom-select{
    border-width: 1px;
    box-sizing: border-box;
    padding: 10px 28px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.datatable-export{
    
}
.dataTables_length{
    margin-top: -45px;
    padding-bottom: 20px;
    width: 100px;
}